
#controls {
	width: 600px;
	margin: 0px auto;
}

#controls button {
	float: right;
	text-align: center;
	padding: 10px;
	margin: 10px 5px;
	background-color: #f0e930;
}

#sketchContainer {
	width: 600px;
	clear: both;
	margin: 0px auto;
}

.box {
	float: left;
	border: 1px solid #000000;
	display: inline-block;
}

.end_row {
	clear: both;
}

.box_lit {
	background-color: #000000;
}

